# Base URL for API requests
VITE_API_BASE_URL=https://ite6dpt3o6.execute-api.ap-south-1.amazonaws.com

# Mapbox Configuration
VITE_MAPBOX_ACCESS_TOKEN=pk.YOUR_MAPBOX_TOKEN_HERE
VITE_MAPBOX_STYLE=mapbox://styles/mapbox/streets-v12

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_NAME
VITE_CLOUDINARY_UPLOAD_PRESET=YOUR_UPLOAD_PRESET
